---
title: Next Steps
owner: Daniel Freitag
---

You now know how to deploy an app, change its configuration, view logs, scale, and bind it to services.

Here’s some recommended reading. The first one is a set of tips for Java developers in the cloud. The second one describes the buildpack which Cloud Foundry uses to bootstrap Java applications. The third one is a collection of factors you should consider when creating a modern cloud-native application.

* <a href="../buildpacks/java/java-tips.html" target="_blank">Tips for Java Applications in the cloud</a>
* <a href="../buildpacks/java/index.html" target="_blank">Java Buildpack</a>
* <a href="http://12factor.net" target="_blank">12 factors for cloud-native apps</a>
