---
title: Prepare the App
owner: Daniel Freitag
---

<strong><%= modified_date %></strong>

In this step, you will prepare a simple Java web application that can be deployed.
Execute the following commands to clone the sample application:

<pre class="terminal">
$ git clone https://github.com/swisscom/cf-sample-app-java.git
$ cd cf-sample-app-java
</pre>

You now have a functioning git repository that contains a simple Java <a href="http://sparkjava.com/" target="_blank">Spark</a> application as well as a `build.gradle` file, which is used by Gradle to manage dependencies and build the app.

<p class="note">
  <strong>Note</strong>: In case you are stuck during the tutorial, you can always check out the <a href="https://github.com/swisscom/cf-sample-app-java/tree/final-result" target="_blank"><code>final-result</code></a> branch of the sample app repo to see what your code should look like.
</p>

<div style="text-align:center;margin:3em;">
  <a href="./deploy.html" class="btn btn-primary">I cloned the App source</a>
</div>

