---
title: Prepare the App
owner: Daniel Freitag
---

<strong><%= modified_date %></strong>

In this step, you will prepare a simple Java web application that can be deployed.
Execute the following commands to clone the sample application:

<pre class="terminal">
$ git clone https://github.com/swisscom/cf-sample-app-java.git
$ cd cf-sample-app-java
</pre>

You now have a functioning git repository that contains a simple Java application as well as a `build.gradle` file, which is used by Gradle to manage dependencies and to build the app.

<div style="text-align:center;margin:3em;">
  <a href="./deploy.html" class="btn btn-primary">I cloned the App source</a>
</div>
Status API Training Shop Blog About
© 2016 GitHub, Inc. Terms Privacy Security Contact Help
