---
title: Run the App Locally
owner: Daniel Freitag
---

<strong><%= modified_date %></strong>

Once the application is compiled and built with all dependencies, you will be ready to run your app locally using the command

<pre class="terminal">
$ java -jar cf-sample-app-java-1.0.jar

...

2016-04-12 22:59:11.179:INFO:oejs.Server:main Started @2834ms
</pre>

Open <a href="http://localhost:4567" target="_blank">http://localhost:4567</a> with your web browser. You should see your app running locally.

To stop the app from running locally, in the CLI, press `Ctrl+C` to exit.

<div style="text-align:center;margin:3em;">
  <a href="./push-changes.html" class="btn btn-primary">I can run my App locally</a>
</div>
