---
title: Scale the App
owner: Daniel Freitag
---

<strong><%= modified_date %></strong>

Right now, your app is running as a single instance with 1GB of memory.

You can check how many instances are running and how much memory they have using the `cf scale` command:

<pre class="terminal">
$ cf scale my-java-app
Showing current scale of app my-java-app in org MyOrg / space MySpace as user@mydomain.com...
OK

memory: 1G
disk: 1G
instances: 1
</pre>

By default, your app is deployed as one instance. Each instance runs in a separate container and gets the set amount of memory.

## Scaling Horizontally

Scaling an application horizontally on <%= vars.product_full %> is equivalent to changing the number of instances that are running. Scale the number of instances to 3:

<pre class="terminal">
$ cf scale my-java-app -i 3
Scaling app my-java-app in org MyOrg / space MySpace as user@mydomain.com...
OK
</pre>

## Scaling Vertically

Scaling an application vertically on <%= vars.product_full %> is equivalent to changing the amount of memory each instance has. Scale the amount of memory to 2G:

<pre class="terminal">
$ cf scale my-java-app -m 2G

This will cause the app to restart. Are you sure you want to scale my-java-app?&gt; yes

Scaling app my-java-app in org MyOrg / space MySpace as user@mydomain.com...
OK

...

     state     since                    cpu     memory          disk        details
#0   running   2016-05-29 03:38:11 PM   0.1%    326M of 2G   132.2M of 1G
#1   running   2016-05-29 03:38:11 PM   0.1%    326M of 2G   132.2M of 1G
#2   running   2016-05-29 03:38:11 PM   0.1%    326M of 2G   132.2M of 1G
</pre>

The last statement shows a summary of the three instances with a memory cap of 2G each that we now have.

<div style="text-align:center;margin:3em;">
  <a href="./dependencies.html" class="btn btn-primary">I know how to scale my App</a>
</div>

Status API Training Shop Blog About
© 2016 GitHub, Inc. Terms Privacy Security Contact Help
